In [11]:
import pandas as pd

df = pd.read_csv('/Users/shengyi/Desktop/Demo_Project/stock-data.csv')

df.head(100)

,#,name,asof,volume,close_usd,sector_level1,sector_level2
0,1,Amazon Com,12/1/1999,213201960,4.250000,CONSUMER CYCLICALS,Retailers
1,2,Amazon Com,12/2/1999,190767980,4.453125,CONSUMER CYCLICALS,Retailers
2,3,Amazon Com,12/3/1999,222977980,4.328125,CONSUMER CYCLICALS,Retailers
3,4,Amazon Com,12/6/1999,183930000,4.387500,CONSUMER CYCLICALS,Retailers
4,5,Amazon Com,12/7/1999,134525940,4.303125,CONSUMER CYCLICALS,Retailers
...,...,...,...,...,...,...,...
95,96,Amazon Com,4/12/2000,173903980,2.818750,CONSUMER CYCLICALS,Retailers
96,97,Amazon Com,4/13/2000,213544000,2.400000,CONSUMER CYCLICALS,Retailers
97,98,Amazon Com,4/14/2000,401275940,2.343750,CONSUMER CYCLICALS,Retailers
98,99,Amazon Com,4/17/2000,243585940,2.353125,CONSUMER CYCLICALS,Retailers
99,100,Amazon Com,4/18/2000,214740000,2.746875,CONSUMER CYCLICALS,Retailers

In [19]:
df['name'].unique()

array(['Amazon Com', 'Alphabet Class C', 'Facebook Class A ', 'Apple'],
      dtype=object)

In [20]:
df['sector_level1'].unique()

array(['CONSUMER CYCLICALS', 'Technology'], dtype=object)

In [21]:
df['sector_level2'].unique()

array(['Retailers', 'Software & IT Services', 'Technology Equipment'],
      dtype=object)